[Unit]
Description=IceWM
After=x11vnc.service

[Service]
Type=simple
User=ubuntu
Group=ubuntu
Environment="DISPLAY=:1"
ExecStart=/usr/bin/icewm


[Install]
WantedBy=multi-user.target